
@media (min-width: 140px) and (max-width: 480px){
.carousel-indicators {
bottom: -5px;
}
}

@media (min-width: 481px) and (max-width: 767px){
.carousel-indicators {
bottom: 5px;
}
}


.media-carousel-xs, .media-carousel-up {
margin-bottom: 0;
padding: 15px;

}

.thumbnail:hover{
  text-decoration: none;
  border: 1px solid #0c9551!important;
}



#media-up .thumbnail,
#media-xs .thumbnail{
margin-bottom:0;
}

.media-carousel-xs,
.media-carousel-up
{
  margin-bottom: 0;
  padding: 15px;

}
/* Previous button  */
.media-carousel-xs .carousel-control.left,
.media-carousel-up .carousel-control.left
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #eee;
  border: 0 solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 22px;
  width : 22px;
  top: 50%;
  margin-top: -10px;
}
/* Next button  */
.media-carousel-xs .carousel-control.right,
.media-carousel-up .carousel-control.right
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #eee;
  border: 0 solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 22px;
  width : 22px;
  top: 50%;
  margin-top: -40px;
}

#media-xs .carousel-control,
#media-up .carousel-control{


font-size:6em;
color: #0c9551;
text-shadow: 0 0 0;
opacity: 1;
filter: alpha(opacity=100);
}

.media-carousel-xs .carousel-control:hover,.media-carousel-xs .carousel-control:focus,
.media-carousel-up .carousel-control:hover,.media-carousel-up .carousel-control:focus{
color: #808080;
}

