
@media (min-width: 140px) and (max-width: 480px){
.carousel-indicators {
bottom: -5px;
}
}

@media (min-width: 481px) and (max-width: 767px){
.carousel-indicators {
bottom: 5px;
}
}


.media-carousel-xs, .media-carousel-up {
margin-bottom: 0;
padding: 15px;

}

.thumbnail:hover{
  text-decoration: none;
  border: 1px solid #0c9551!important;
}



#media-up .thumbnail,
#media-xs .thumbnail{
margin-bottom:0;
}

.media-carousel-xs,
.media-carousel-up
{
  margin-bottom: 0;
  padding: 15px;

}
/* Previous button  */
.media-carousel-xs .carousel-control.left,
.media-carousel-up .carousel-control.left
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #eee;
  border: 0 solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 22px;
  width : 22px;
  top: 50%;
  margin-top: -10px;
}
/* Next button  */
.media-carousel-xs .carousel-control.right,
.media-carousel-up .carousel-control.right
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #eee;
  border: 0 solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 22px;
  width : 22px;
  top: 50%;
  margin-top: -10px;
}

#media-xs .carousel-control,
#media-up .carousel-control{
position: absolute;
bottom: 0;
font-size: 14px;
color: #808080;
text-shadow: 0 0 0;
opacity: 1;
filter: alpha(opacity=100);
}

.media-carousel-xs .carousel-control:hover,.media-carousel-xs .carousel-control:focus,
.media-carousel-up .carousel-control:hover,.media-carousel-up .carousel-control:focus{
color: #808080;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 86px;
}
header a {
  cursor: pointer;
  float: left;
}
header .reset-button,
header .reset-button:visited {
  display: none;
  float: right;
  margin: 18px 24px;
  border: 2px solid White;
  border-radius: 3px;
  padding: 12px 24px;
  text-align: center;
  font-size: 1.275em;
  color: White;
  transition: all 0.12s linear;
}
header .reset-button:hover,
header .reset-button:focus {
  border-color: White;
  background: White;
  color: Tomato;
}
header h2 {
  padding: 12px 36px;
  color: White;
}
.feedback-bar {
  height: 0;
  overflow: hidden;
  background: #007038;
  text-align: center;
  transition: height 0.12s linear;
}
.feedback-bar h2 {
  font-weight: lighter;
}
.show-feedback {
  height: 86px;
}
.progress-bar {
  background: -moz-linear-gradient(-135deg, Tomato, #663399);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, Tomato), color- stop(100%, #663399));
  background: -webkit-linear-gradient(-135deg, Tomato, #663399);
  background: -o-linear-gradient(-135deg, Tomato, #663399);
  background: -ms-linear-gradient(-135deg, Tomato, #663399);
}
.progress-bar h2 {
  font-weight: normal;
}
.progress-bar .step-1 {
  display: block;
}
main .step-1 {
  display: block;
}


.step-1,
.step-2,
.step-3,
.step-4 {
  display: none;
}
